endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "mysql://root@127.0.0.1/wavev32?charset=utf8mb4"



stop monitor
stop webadmin
ensure chat
ensure sessionmanager
ensure ghmattimysql
ensure vrp
ensure ghmattimysqljs

ensure inventory
ensure pma-voice

ensure hud
ensure vehcontrol
ensure logsystem
ensure PolyZone
ensure memory

ensure clothesReplace
ensure clothesAddons
ensure creativeMaps
ensure creativeThrowing
ensure creativeVehs
ensure oxmysql
ensure yarn
ensure webpack
ensure screenshot-basic 
ensure smartphone

ensure bank
ensure rope
ensure taxi
ensure spawn
ensure radio
ensure homes
ensure doors
ensure chest
ensure shops
ensure admin
ensure target
ensure police
ensure tablet
ensure notify
ensure uniforms
ensure tackle
ensure engine
ensure player
ensure sounds
ensure airforce
ensure dynamic
ensure vehmenu
ensure notepad
ensure inspect
ensure garages
ensure impound
ensure skinshop
ensure evidence
ensure paramedic
ensure creative
ensure vrp_progressbar
ensure animacoes
ensure lscustoms
ensure safecrack
ensure trunkchest
ensure barbershop
ensure notifycall
ensure notifyitens
ensure racesTrevor
ensure blipsystem
ensure crafting
ensure robberys
ensure circuits
ensure tencode
ensure checkin
ensure hoverfy
ensure tattoos
ensure taskbar
ensure metas
ensure teste 
ensure dealership
ensure bank2

ensure races
ensure drugs
ensure works
ensure hunting
ensure eletronics
ensure towdriver
ensure dismantle
ensure stockade
ensure register
ensure trucker

sv_scriptHookAllowed 0

#rcon_password

sets tags "default"

sets locale "pt-BR"

load_server_icon server.png

sv_master1 "Wave Shop"

sets banner_detail ""
sets banner_connecting ""

add_ace group.admin command allow
add_ace group.admin command.quit deny
# add_principal  group.admin

sv_endpointprivacy true

setr voice_syncData 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

set sv_enforceGameBuild 2699
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCullVehicles true

sv_hostname "Wave 3.2 - A Melhor loja de bases e suporte"
sets sv_projectName "Wave 3.2 - A Melhor loja de bases e suporte"
sets sv_projectDesc "Wave 3.2 - A Melhor loja de bases e suporte"
sets discord "https://discord.gg/Tgyadaz9c6"

sv_maxclients 7

set steam_webApiKey "D7517F4661A1E734DD670627922BC159"
sv_licenseKey cfxk_1s5QB7RzTUvOtIIdnIhHD_8Hmhb
